<!-- <div>
        <a class="navbar-brand" href="#" style="padding: 0;">
            <img src="assets/images/raycap.jpg" style="width: 100px;">
        </a>
       <nav class="dropdownmenu">
          <ul>
          <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
          <li><a routerLink="/services" routerLinkActive="active">SERVICES</a></li>
          <li><a routerLink="/products" routerLinkActive="active">PRODUCTS</a></li>
          <li><a routerLink="/latestupdates" routerLinkActive="active">LATEST UPDATES</a></li>
          <li><a routerLink="/aboutus" routerLinkActive="active">ABOUTUS</a></li>
          <li><a routerLink="/contactus" routerLinkActive="active">CONTACTUS</a></li>
          </ul>
        </nav>
</div> <br> <br> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="padding: 0;">
         CAPE
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
          <li><a routerLink="/services" routerLinkActive="active">SERVICES</a></li>
          <li><a routerLink="/products" routerLinkActive="active">PRODUCTS</a></li>
          <li><a routerLink="/latestupdates" routerLinkActive="active">LATEST UPDATES</a></li>
          <li><a routerLink="/aboutus" routerLinkActive="active">ABOUTUS</a></li>
          <li><a routerLink="/contactus" routerLinkActive="active">CONTACTUS</a></li>
      </ul>

    </div>
  </div>
</nav>



