<!--Footer-->

<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="about-widget pr-15">
                  <div class="logo-part">
                      <a href="home.html"><img src="assets/images/raycap-150x70.jpg" alt="Footer Logo"></a>
                  </div>
                  <p class="desc">We denounce with righteous indignation in and dislike men who are so beguiled and to demo realized by the charms of pleasure moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound.</p>
                  <div class="btn-foot">
                      <button type="button" class="btn btn-primary">Read More</button>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <h4 class="widget-title">Latest Posts</h4>
              <div class="post-wrap mb-15">
                  <div class="post-img">
                      <a href="#"><img src="assets/images/post-1.jpg" alt=""></a>
                  </div>
                  <div class="post-desc">
                      <a href="#">Covid-19 threatens the next generation of smartphones</a>
                      <div class="date-post">
                          <i class="fa fa-calendar"></i> September 6, 2019
                      </div>
                  </div>
              </div>
              <div class="post-wrap mb-15">
                  <div class="post-img">
                      <a href="#"><img src="assets/images/post-1.jpg" alt=""></a>
                  </div>
                  <div class="post-desc">
                      <a href="#">Covid-19 threatens the next generation of smartphones</a>
                      <div class="date-post">
                          <i class="fa fa-calendar"></i> September 6, 2019
                      </div>
                  </div>
              </div>

          </div>

          <div class="col-md-4">
              <h4 class="widget-title">Contact Info</h4>
              <p>
                  CAPE electric pvt ltd</p>
              <p>Plot No.A-41 (B), SIPCOT Industrial Growth Centre,
            Oragadam, Kancheepuram Dist – 602 105,
              Tamil Nadu
              </p>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>
              Support by <a href="#">JammyStark</a> © 2021 - CAPE Electric Private Limited. All rights reserved </p>
      </div>
  </div>
</footer>
