<section class="inner">
  <div class="container">
      <div class="row">

          <div class="col-md-8">

              <h2 class="sl-subtitle">Latest Updates</h2>

              <h2 class="sl-title">Fire due to short circuit in buildings and work places, Lightning protection Earthing and safety</h2>

              <p class="sl-desc">
                  Fire due to short circuit in buildings and work places, Lightning protection Earthing and safety, Protection of electrical and electronics from transient surges, Harmonic analysis, Testing of HV, LV and ELV system for safety and functionality
              </p>
              <div class="btn-foot">
                  <button type="button" class="btn btn-primary">Read More</button>
              </div>
          </div>
      </div>
  </div>
</section>


<!--news section-->

<section>
  <div class="container">
      <div class="row">
          <div class="head-title">
              <h2>NEWS</h2>
              <div class="line"></div>
          </div>
          <div class="col-md-4">

              <div class="card">
                  <img src="assets/images/new-1.jpg" alt="Avatar" style="width:100%">
                  <div class="card-content">
                      <h4><b>Lightning protection Insulated Down Conductors</b></h4>
                      <p>
                          Basic Need of Structural Earthing for Smart Buildings &amp; Modern Grids...
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

              <div class="card">
                  <img src="assets/images/new-2.jpg" alt="Avatar" style="width:100%">
                  <div class="card-content">
                      <h4><b>LPS and Earthing in Commercial and Industrial Buildings</b></h4>
                      <p>
                          Basic Need of Structural Earthing for Smart Buildings &amp; Modern Grids...
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

              <div class="card">
                  <img src="assets/images/new-1.jpg" alt="Avatar" style="width:100%">
                  <div class="card-content">
                      <h4><b>Fire Due to Electrical Short Circuit</b></h4>
                      <p>
                          Basic Need of Structural Earthing for Smart Buildings &amp; Modern Grids...
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>


<!--news  section end--->
<!--ENQUIRY  section--->
<section class="bg-enquiry">
  <div class="container">
      <div class="row">
          <div class="head-title">
              <h2 style="color:#fff;">SEND ENQUIRY</h2>
              <div class="line"></div>
              <div class="btn-en">
                  Send Your Enquiry
              </div>
          </div>

      </div>

  </div>

</section>
