<section class="inner">
  <div class="container">
      <div class="row">

          <div class="col-md-8">

              <h2 class="sl-subtitle">About US</h2>

              <h2 class="sl-title">Established in 1996 at Kanyakumari.</h2>

              <p class="sl-desc">
                Started to provide reactive power compensation for wind turbines which is a challenging application due to high temperature, harmonics etc.
                During 1998 we started establishing our business all over India starting with branch offices in Chennai, Delhi and Mumbai. Our international collaborations helped us to establish ourselves as a leader in providing solutions against failure due to transient surges. We have conducted more than 500 seminars all over India for various industries and as a result the subject of Surge Protection became known to the industry. Another industry’s first from CAPE was DC combiner solutions for Solar during 2002.
              </p>
              <div class="btn-foot">
                  <button type="button" class="btn btn-primary">Read More</button>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="container">
  <div class="row">
      <div class="head-title">
          <h4>Welcome to Cape Elcetronics</h4>
          <div class="line"></div>
          <div class="col-md-12">

          </div>
      </div>
      <div class="col-md-6">
        <div class="center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VZGda8r-sfo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>
  </div>
  </div>

  <section class="bg-enquiry">
      <div class="container">
          <div class="row">
              <div class="head-title">
                  <h2 style="color:#fff;">SEND ENQUIRY</h2>
                  <div class="line"></div>
                  <div class="btn-en">
                     <a href="/contactus"> Send Your Enquiry</a>
                  </div>
              </div>

          </div>

      </div>

  </section>
