<section class="inner">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <h2 class="sl-subtitle">Products</h2>
              <h2 class="sl-title">Fire due to short circuit in buildings and work places, Lightning protection Earthing and safety</h2>
              <p class="sl-desc">
                Fire due to short circuit - During 2018 we conducted 72 one-day training classes across India and abroad in the subject of electrical safety such as electrocution and fire due to short circuit. These one day training classes are well appreciated by electrical inspectorates of various states, well accepted and implemented in various projects under construction.
              </p>
              <div class="btn-foot">
                  <button type="button" class="btn btn-primary">Read More</button>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
      <div class="row">
          <div class="head-title">
              <h2>Our Product</h2>
              <div class="line"></div>
              <div class="col-md-12 text-Centre">
                  <p>Fire due to short circuit - During 2018 we conducted 72 one-day training classes across India and abroad in the subject of electrical safety such as electrocution and fire due to short circuit. These one day training classes are well appreciated by electrical inspectorates of various states, well accepted and implemented in various projects under construction.</p>
                  <p>Fire due to short circuit - During 2018 we conducted 72 one-day training classes across India and abroad in the subject of electrical safety such as electrocution and fire due to short circuit. These one day training classes are well appreciated by electrical inspectorates of various states, well accepted and implemented in various projects under construction.</p>

              </div>

          </div>
      </div>
    </div>
  </section>



      <!--Welcome section end--->


      <section>
          <div class="container">
              <div class="row">

                  <div class="col-md-3">
                      <div class="product-box">
                          <div class="icon-part">
                              <img src="assets/images/pr1.jpg" alt="">
                          </div>
                          <div class="content">
                              <h4 class="title"><a href="#">Lightning Protection</a></h4>
                              <div class="desc">Our offering boasts unique advantages to traditional work-over and service rigs that can get your well Protection numbers back in the black faster.</div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="product-box">
                          <div class="icon-part">
                              <img src="assets/images/pr2.jpg" alt="">
                          </div>
                          <div class="content">
                              <h4 class="title"><a href="#">Lightning Protection</a></h4>
                              <div class="desc">Our offering boasts unique advantages to traditional work-over and service rigs that can get your well Protection numbers back in the black faster.</div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="product-box">
                          <div class="icon-part">
                              <img src="assets/images/pr3.jpg" alt="">
                          </div>
                          <div class="content">
                              <h4 class="title"><a href="#">Lightning Protection</a></h4>
                              <div class="desc">Our offering boasts unique advantages to traditional work-over and service rigs that can get your well Protection numbers back in the black faster.</div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="product-box">
                          <div class="icon-part">
                              <img src="assets/images/pr4.png" alt="">
                          </div>
                          <div class="content">
                              <h4 class="title"><a href="#">Lightning Protection</a></h4>
                              <div class="desc">Our offering boasts unique advantages to traditional work-over and service rigs that can get your well Protection numbers back in the black faster.</div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </section>
      <!--ENQUIRY  section--->
      <section class="bg-enquiry">
          <div class="container">
              <div class="row">
                  <div class="head-title">
                      <h2 style="color:#fff;">SEND ENQUIRY</h2>
                      <div class="line"></div>
                      <div class="btn-en">
                         <a href="/contactus"> Send Your Enquiry</a>
                      </div>
                  </div>

              </div>

          </div>

      </section>
